<% layout('layout/boilerplate') %>
  <!--? "/campground/id" route to view a spicific campground  -->
  <!--? campground is a javascript object like campground = {title: "blah", location: "blah"} which can be accessed with dot operator -->
  
  <div class="row mb-3">
    <div class="col-6 offset-3">
      <div class="card">
        <img src="<%= campground.image %>" class="card-img-top" alt="<%= campground.image %>" >
        <div class="card-body">
          <h5 class="card-title"><%= campground.title %></h5>
          <p class="card-text"><%= campground.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-muted"><%= campground.location%></li>
          <li class="list-group-item">$<%= campground.price%>/night</li>
        </ul>
        <div class="card-body">
          <a class="card-link btn btn-warning" href="/campground/<%= campground.id%>/edit">Edit</a>
          <!--! DELETE method overriden here  -->
          <form class="d-inline" action="/campground/<%=campground.id%>?_method=DELETE" method="post">
            <button type="submit" class="btn btn-danger">Delete</button> <!--? On click FORM will be submitted triggering DELETE method  -->
          </form>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
      </div>
    </div>
  </div>